################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FASTBuildMonitorVSIX/FASTBuildMonitor/bin
/FASTBuildMonitorVSIX/FASTBuildMonitorVSIX/bin
/FASTBuildMonitorVSIX/FASTBuildMonitorStandalone/bin
/FASTBuildMonitorVSIX/.vs
/FASTBuildMonitorVSIX/FASTBuildMonitorVSIX/lib
/FASTBuildMonitorVSIX/FASTBuildMonitor/obj
/FASTBuildMonitorVSIX/FASTBuildMonitorVSIX/obj
/FASTBuildMonitorVSIX/FASTBuildMonitorStandalone/obj

# Ignore .user files
*.user

# Ignore .lock.json file(Visual Studio nuget local state file that must NOT be in source control)
*.lock.json
